
<article class="sidebar">
  <h1 class="sidebar-title">Artwork on display</h1>
  <p class="sidebar-body">While you attend the conference, head over to our gallery where you can
    check out some of the work from our speakers.</p>
  <div class="pixgrid clearfix">
    <img src="/images/artwork/wdj_01_tn.jpg" alt="Artwork 0">
    <img src="/images/artwork/wdj_02_tn.jpg" alt="Artwork 1">
    <img src="/images/artwork/wdj_03_tn.jpg" alt="Artwork 2">
    <img src="/images/artwork/wdj_04_tn.jpg" alt="Artwork 3">
    <img src="/images/artwork/wdj_05_tn.jpg" alt="Artwork 4">
    <img src="/images/artwork/wdj_06_tn.jpg" alt="Artwork 5">
    <img src="/images/artwork/wdj_07_tn.jpg" alt="Artwork 6">
  </div>
</article>