<article class="speakerslist jumbotron d-none d-sm-block">
  <div class="container">
    <div class="row">
      
      <div class="col-md text-center">
        <h4 class="speakerslist-title">Art in Full Bloom</h4>
        <div class="speakerslist-name">
          with
          <a href="/speakers/wdj">WDJ</a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="/speakers/wdj">
            <img class="speakerslist-img rounded-circle" src="/images/speakers/wdj_tn.jpg" alt="Photo of WDJ">
          </a>
        </p>
      </div>
      
      <div class="col-md text-center">
        <h4 class="speakerslist-title">Deep Sea Wonders</h4>
        <div class="speakerslist-name">
          with
          <a href="/speakers/santa_clause">Santa Clause</a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="/speakers/santa_clause">
            <img class="speakerslist-img rounded-circle" src="/images/speakers/santa_clause_tn.jpg" alt="Photo of Santa Clause">
          </a>
        </p>
      </div>
      
      <div class="col-md text-center">
        <h4 class="speakerslist-title">The Art of Abstract</h4>
        <div class="speakerslist-name">
          with
          <a href="/speakers/wonka">Willy Wonka</a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="/speakers/wonka">
            <img class="speakerslist-img rounded-circle" src="/images/speakers/wonka_tn.jpg" alt="Photo of Willy Wonka">
          </a>
        </p>
      </div>
      
    </div>
  </div>
</article>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Who are we?</h1>
        <p>
          Bacon ipsum dolor amet tongue cupim bresaola ball tip, pork loin swine fatback leberkas salami burgdoggen. Alcatra biltong swine, fatback kielbasa drumstick bacon cow tenderloin brisket pastrami. Burgdoggen meatloaf ball tip, cupim ham hock boudin filet mignon shankle turducken pork loin fatback. Swine pig corned beef doner shankle pancetta. Tongue drumstick t-bone pig shank strip steak. Drumstick cow filet mignon, chicken fatback tongue salami tail sausage spare ribs porchetta. Cow ball tip pancetta, short ribs burgdoggen turducken hamburger pork loin flank pork chislic pork chop.
        </p>
        <p>
          Capicola filet mignon shank, tri-tip burgdoggen ham hock ham pork pancetta pork chop strip steak. Kielbasa hamburger pork porchetta turducken frankfurter strip steak tri-tip, turkey pork chop pig spare ribs venison. Tri-tip prosciutto buffalo cupim turkey, picanha turducken leberkas. Jowl brisket venison kielbasa beef. Ham turducken pork tenderloin doner biltong kielbasa, kevin strip steak prosciutto. Alcatra bresaola cupim leberkas short loin tenderloin rump salami pork belly drumstick boudin tri-tip flank. Short loin pastrami jerky rump pork, tenderloin meatball capicola.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Get Busy!</h2>
        <p>
          Ribeye filet mignon tail cupim, alcatra chicken corned beef landjaeger jerky drumstick biltong ground round. Chicken kevin meatball turkey swine pig salami leberkas t-bone beef ribs. Beef ribs rump tenderloin hamburger pork loin. Bacon shank leberkas bresaola spare
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Who should come?</h1>
        <ul class="sidebar-body">
          <li>Anybody interested in art and the creative industry</li>
          <li>Painters, sculptors, photographers and graphic artists</li>
          <li>
            Those interested in meeting and making a connection with others in the local art scene.
          </li>
        </ul>
      </article>
      <article class="sidebar">
  <h1 class="sidebar-title">Artwork on display</h1>
  <p class="sidebar-body">
    While you attend the conference, head over to our gallery where you can check out some of the
    work from our speakers.
  </p>
  <div class="pixgrid clearfix">
    
    <img src="/images/artwork/santa_clause_01_tn.jpg" alt="Artwork 0">
    
    <img src="/images/artwork/santa_clause_02_tn.jpg" alt="Artwork 1">
    
    <img src="/images/artwork/santa_clause_03_tn.jpg" alt="Artwork 2">
    
    <img src="/images/artwork/santa_clause_04_tn.jpg" alt="Artwork 3">
    
    <img src="/images/artwork/wdj_01_tn.jpg" alt="Artwork 4">
    
    <img src="/images/artwork/wdj_02_tn.jpg" alt="Artwork 5">
    
    <img src="/images/artwork/wdj_03_tn.jpg" alt="Artwork 6">
    
    <img src="/images/artwork/wdj_04_tn.jpg" alt="Artwork 7">
    
    <img src="/images/artwork/wdj_05_tn.jpg" alt="Artwork 8">
    
    <img src="/images/artwork/wdj_06_tn.jpg" alt="Artwork 9">
    
    <img src="/images/artwork/wdj_07_tn.jpg" alt="Artwork 10">
    
    <img src="/images/artwork/wonka_01_tn.jpg" alt="Artwork 11">
    
    <img src="/images/artwork/wonka_02_tn.jpg" alt="Artwork 12">
    
    <img src="/images/artwork/wonka_03_tn.jpg" alt="Artwork 13">
    
    <img src="/images/artwork/wonka_04_tn.jpg" alt="Artwork 14">
    
    <img src="/images/artwork/wonka_05_tn.jpg" alt="Artwork 15">
    
    <img src="/images/artwork/wonka_06_tn.jpg" alt="Artwork 16">
    
  </div>
</article>

    </aside>
  </div>
</div>